body {
    background-image: url(louis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}