body {
    font-family: 'Raleway', sans-serif;
    color: #f002e4;
    background-image: url(background.jpeg);
    background-repeat: repeat;
    background-position: center center;
}

.foto-principal {
    width: 300px;
    height: 300px;
    margin-top: 200px;
    box-shadow: 0px 0px 20px #f002e4;
    border: 2px solid rgb(235, 2, 177);
}

.profile {
    text-align: center;
}

.til {
    color: #000000;
    font-weight: bold;
    height: 100px;
    width: 100px;
    text-decoration: none;
}

.footer {
    margin-top: 215px;
    background-color: #000000;
    color: #f002e4;
    text-align: center;
}